body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}

hr {
    width: calc(100% - 20px);
}

table {
    width: 800px;
}

code {
    font-size: 10pt;
    line-height: 1em;
}

textarea {
    font-family: monospace;
    font-size: 10pt;
    line-height: 1rem;
}

tr.code-edit > td > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

tr.code-edit > td > div > textarea {
    width: calc(100% - 8px);
}

